################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/**/obj
/**/bin
TestSolution/.vs/
TestSolution/packages/
*.binlog
TestSolution/msbuild.ProjectImports.zip
/**/pkg
/**/publish/
TestSolution2/.vs/
TestSolution2/packages/
