################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/**/obj
/**/bin
/TestSolution/TestSolution/pkg/Debug
TestSolution/.vs/
TestSolution/packages/
TestSolution/TestApplication1/pkg/
TestSolution/TestApplication2/pkg/
TestSolution/TestApplication3/pkg/
*.binlog
